.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: var(--color-accent-primary);
    z-index: 99999;
    box-shadow: 0 0 10px var(--color-accent-primary);
}

.progress-bar::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: white;
    box-shadow: 0 0 5px white;
}